/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */



figure img {
	width: 100%;
	height: auto;
}

.container {
	background-color: #fff;
}

/* HEADER BOX */
.header {
	background-color:#000;
	position: relative;
	height: 150px;
}

.header .logo {
	margin: 10px 0;
}
.header h1 {
	font-family: "Ubuntu";
	font-weight: 500;
	color:#fff;
	margin-bottom: 2px;
	text-align: right;
	letter-spacing: 6px;
	font-size: 4em;
}
.header h5 {
	color: #888;
	text-transform:uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	word-spacing: 2px;
}
.header .nav {
	margin-top: 100px;
}
.header ul {

}
.header ul li {
	display: inline-block;
	margin-right: 10px;

}
.header a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	padding-bottom: 6px;
	border-bottom: 1px solid #000;
	display: block;
	font-size: 1.2em;
	transition: border-bottom 0.5s ease;
}
.header a:hover {
	border-bottom: 1px solid #888;
	padding-right: 4px;
}

.header a:hover:after{
	content: '';
	width: 0; 
	height: 0; 
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid #3c0;
}
/* SLIDER BOX -> jquery.bxlider.css
.slider {

}
*/


/* CONTENT BOX */

.content {
	min-height: 300px;
}


.content h3 {
	border-bottom: 2px solid #ccc;
	margin-bottom: 30px;
	padding-top: 10px;
}

.content h3 i {
	color: #33CC00;
	margin-right: 10px;
}

​
{}
.offer, .about, .projects {
	height: 350px;
	position: relative;
	padding-bottom: 50px;
}

.offer li {
	border-bottom: 1px dotted #ccc;
	margin-top: 5px;
	padding: 5px 0;
}
.offer li:hover {
	border-bottom: 1px dotted #888;
}
.projects li {
	line-height: 2em;
	font-size: 1.1em;
}

.projects li a{
	text-decoration: none;
}

.content button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 3.5em;
	background-color: #555;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.75);
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 2px;
	box-shadow: 2px 2px 2px #ccc;
}
.content button:hover {
	box-shadow: 2px 2px 4px #aaa;
}

/* FOOTER BOX */

.footer {
	text-align: center;
	color: #888;
	font-size: 0.9em;
	margin-top: 50px;
}

.footer p {
	margin-bottom: 5px;
}

.footer ul li {
	display: inline-block;
}
.footer .social li a{
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -999999px;
	margin: 10px 5px;;
}
.footer .social li a[title=facebook] {
	background: url(../img/social_3-32.png) transparent left top no-repeat;
}
.footer .social li a[title=facebook]:hover {
	background: url(../img/social_3-32.png) transparent left -32px no-repeat;
}
.footer .social li a[title=google]{
	background: url(../img/google-32.png) transparent left top no-repeat;
}
.footer .social li a[title=google]:hover{
	background: url(../img/google-32.png) transparent left -32px no-repeat;
}
.footer .social li a[title=twitter]{
	background: url(../img/social_8-32.png) transparent left top no-repeat;
}
.footer .social li a[title=twitter]:hover{
	background: url(../img/social_8-32.png) transparent left -32px no-repeat;
}
.footer p {
	display: inline;
}
.footer address {
	display: inline;
	margin: 0;
	padding: 0;
}
.footer address a{
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/


/* DODATKI */
.arrUp {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid #fff;
}

.arrDown {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #fff;
}

.arrRight {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid #fff;
}

.arrLeft {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	
	border-right:5px solid #fff; 
}