html, body {
  height: 100%;
}

html {
  font-size: 14px;
}

@media screen and ( max-width: 480px ) {
  html {
    font-size: 12px;
  }
}


body {
  background-color: #42b4e6;
}


a {
  color: inherit;
  transition: color .2s ease-in-out;
}

a:hover {

}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}

.main {
  height: 100%;
  text-align: center;
  box-shadow: inset 2px 2px 20vh 10px rgba(0, 0, 0, .5);
}

.main::before  {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.vcard {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  max-width: 100%;
  margin-left: -4px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

}

.vcard h1, .vcard h2 {
  color: #fff;
}

.vcard-contact {
  padding-top: 50px;

}

.vcard p {
  margin-bottom: 0;
  font-size: 1.2rem;
}
